**LOAD DATASET**

In [17]:
from google.colab import files
upload=files.upload()

Saving Walmart.csv to Walmart (1).csv

**IMPORT LIBRARIES**

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df=pd.read_csv('Walmart.csv')

In [20]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [21]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

**CHECK FOR DUPLICATES**

In [22]:
df.duplicated().sum()

np.int64(51)

**DROP DUPLICATES**

In [23]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10000 non-null  int64
 1   Branch          10000 non-null  object
 2   City            10000 non-null  object
 3   category        10000 non-null  object
 4   unit_price      9969 non-null   object
 5   quantity        9969 non-null   float64
 6   date            10000 non-null  object
 7   time            10000 non-null  object
 8   payment_method  10000 non-null  object
 9   rating          10000 non-null  float64
 10  profit_margin   10000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 937.5+ KB

**CHECK FOR NULL VALUES**

In [25]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

**DROPPING NULL VALUES**

In [26]:
#drop null values column
df.dropna(inplace=True)

In [27]:
df.isnull().sum().sum()

np.int64(0)

**CHANGING DATATYPE OF DATE COLUMN TO 'DATETIME' TYPE**

In [28]:
# convert date from object to datetime
df['date']=pd.to_datetime(df['date'])

<ipython-input-28-354abcdf138b>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date']=pd.to_datetime(df['date'])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   object
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   datetime64[ns]
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 934.6+ KB

**CHANGING DATATYPE OF UNIT_PRICE COLUMN TO 'FLOAT' TYPE**

In [30]:
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

In [31]:
df['unit_price'].astype(float)

0       74.69
1       15.28
2       46.33
3       58.22
4       86.31
        ...
9995    37.00
9996    58.00
9997    52.00
9998    79.00
9999    62.00
Name: unit_price, Length: 9969, dtype: float64

In [32]:
df.dtypes

invoice_id                 int64
Branch                    object
City                      object
category                  object
unit_price               float64
quantity                 float64
date              datetime64[ns]
time                      object
payment_method            object
rating                   float64
profit_margin            float64
dtype: object

**CREATING NEW COLUMN TOTAL**

In [33]:
df['total'] = df['unit_price'] * df['quantity']
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-05-01,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-08-03,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-08-02,10:37:00,Ewallet,5.3,0.48,604.17

**SAVING MODIFIED DATASET**

In [34]:
df.to_csv('walmart_clean_data.csv', index=False)